
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*===============================*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
.App {
  /*hsl(218, 23%, 16%)*/
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  position: relative;
  max-width: 600px;
  /* min-width: 375px; */
  /* min-height: 300px; */
  height: 300px;
  border-radius: 20px;
  background-color: hsl(217, 19%, 24%);
}

p{
  font-family: 'Manrope', sans-serif;
  overflow-wrap: break-word;
  font-family: 'Manrope', sans-serif;
  /* padding: 5px; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.number {
  color: #52ffa8;
  font-size: 12px;
}

.advice {
  color: white;
  font-size: 28px;
}

.bigDivide {
  margin: auto;
  display: block;
}
.smallDivide {
  display: none;
}

button {
  cursor: pointer;
  position: absolute;
  top: 275px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #52ffa8;
  border: none;
}

button:hover {
  box-shadow: 0 0 30px #52ffa8;
}

@media only screen and (max-width: 375px) {
  .card {
    width: 80%;
    height: 400px;
  }
  button {
    top: 375px;
  }
  .bigDivide {
    display: none;
  }
  .smallDivide {
    margin: auto;
    display: block;
  }
}