body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*===============================*/

.App {
  /*hsl(218, 23%, 16%)*/
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  position: relative;
  width: 30vw;
  height: 300px;
  border-radius: 20px;
  background-color: hsl(217, 19%, 24%);
}
button {
  cursor: pointer;
  position: absolute;
  top: 275px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #52ffa8;
  border: none;
}
button:hover {
  box-shadow: 0 0 30px #52ffa8;
}